* { box-sizing: border-box; }

html, body, main, .full {
  height: 100%;
  width: 100%;
  margin: 0;
}

main {
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

.config {
  margin: 8px;
  padding: 4px 8px;
  border: 1px solid black;
  opacity: 1;
  transition: opacity .2s;
  cursor: pointer;
  font-weight: bold;
}

.off {
  opacity: 0.7;
  font-weight: normal;
}

#canvas {
  position: fixed;
  top: 0; left: 0;
}